.patient {
  /* box-shadow: 0px 0px 2px 1px rgb(0, 119, 216); */
  padding: 15px 8px;
  display: flex;
  width: 200px;
  margin: 15px 0;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  transition: 0.6s;
  background-color: #eee;
  border: 0.5px solid #eee;

  color: #6a6a6a;
}

.patient:hover {
  background-color: rgb(0, 138, 180);
  color: #eee;
  cursor: pointer;
  transform: scale(1.05);
}

.container {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 56%;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: white;
  height: 665px;
  overflow-y: auto;
  padding: 10px 15px 5px 15px;
}

.sex {
  font-size: small;
  margin-left: 20px;
}

.grid {
  display: flex;
  justify-content: center;
  background-image: url(../Images/medical.jpg);
  background-size: 100%;
  background-repeat: no-repeat;

  /* background-color: #6a6a6a; */
  height: 769px;
}

.addPatient {
  background-color: #eee;
  display: flex;
  justify-content: end;
  padding: 10px;
}
